WATSONX_API_KEY=api-key
WATSONX_PROJECT_ID=project-id
WATSONX_URL=cloud-url

# IDs das Implantações (Deployments)
ID_AGENTE_MATCH=agent-match-id
ID_AGENTE_CRISE=agent-crise-id
ID_AGENTE_COMUNICACAO=agent-comm-id
